In [1]:
import tensorflow
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [2]:
# Insert local path to MAVE-NN at beginning of Python's path
import sys
sys.path.insert(0, '/Users/annzhu/Desktop/phillipslab/mavenn')

#Load mavenn
import mavenn

In [4]:
_data_df = pd.read_csv('/Users/annzhu/Desktop/phillipslab/LB_data.csv')
df = pd.DataFrame(_data_df)

In [5]:
df

,Unnamed: 0,counts_RNA,barcode,counts_DNA,seq,gene,nmut
0,0,303.0,TCCACAACTATGCTGTCAGA,3385.0,TCTGGATGTCGTTCTGAAGGTGCTGGATTAATATATCAAGTAATGC...,thiM,19
1,1,37.0,TCTTCGGTGTGCGCTTGAGG,261.0,TCTCGCATAAGCACCTTATGCCCGATGATATTTCTTTCATCGGGCT...,poxB,13
2,2,0.0,GGACGGTTCAGGTACATGTC,8.0,CGGCTGAACTTTATCAACAAAGGCCACATTGCGGAAGATGGCATTC...,ybiO,18
3,3,14.0,GGTGACCCTGGCTACGCGGG,219.0,CGGCTGATCTTTAGCGACAAAGGCCGGATGGCGGAAGATGGCCATC...,ybiO,15
4,4,0.0,GCCGGCGCGTAAGTTGGAGG,51.0,CGACACATCTATATCGACAAAGGCCGGATTGCGGAAGATGGCAATC...,ybiO,18
...,...,...,...,...,...,...,...
285055,285055,3.0,ACCCGCACTCCATCCTTGAT,4.0,AAAAACACAAAAAAAATGAAGGTGTAGCGGCAGATCAGAGCAAACT...,WaaA-coaD,18
285056,285056,7.0,GATTATACGTGAAGGCCAAC,7.0,AAAAACACAAAAAAAACGAAGCTGTAGCGCCAGATCCGACGAAACT...,WaaA-coaD,16
285057,285057,0.0,TACCATCCTTCAGTTACGAT,NaN,AAAAAACCAAAAAACATGCAGTTGTAGCGGCAGATCAGCCCAAACT...,WaaA-coaD,14
285058,285058,13.0,TGACGTGTCTAGTTCATTTC,22.0,AAAAAAACAAAAAATATGAAGATGTAGCGGCAGATGAGACCAAACT...,WaaA-coaD,11
285059,285059,0.0,TGGTTAATGCACTCCCACCT,13.0,AAAAAAACAAAAAAAATGAAGATGTAGCGCCAGGTCAGACCAACCT...,WaaA-coaD,16

In [8]:
df.value_counts('gene')

gene
msyB             14718
yqhC             14343
rplKAJL-rpoBC    14329
thiM             12281
poxB             11051
                 ...
arcB                 2
ygdH                 1
ycbZ                 1
ybiP                 1
ybeZ                 1
Length: 96, dtype: int64

In [11]:
print(df.value_counts('gene')[0:50])

gene
msyB             14718
yqhC             14343
rplKAJL-rpoBC    14329
thiM             12281
poxB             11051
tff-rpsB-tsf     10053
araAB             9394
ygjP              9245
rspA              9141
pyrLBI            8970
holC              8080
tig               7853
ybjT              7707
mscM              7618
tar               7248
zapB              6838
yedK              6709
groSL             5805
fdoH              5504
atpIBEFHAGDC      5391
yjjJ              4741
ybiO              4708
bdcR              4355
iap               4339
araC              4305
acuI              4261
arcA              4198
ykgE              4029
aphA              3775
yehT              3754
yedJ              3656
sdaB              3505
maoP              3497
coaA              3318
rapA              3210
thrLABC           3195
fdhE              2959
yodB              2836
dusC              2805
ydjA              2772
yggW              2583
ndk               2570
aegA              2504
yehU              2354
mtgA              1959
dnaE_start1       1645
dnaE_start2       1387
yehS              1381
yicI              1256
sdiA              1144
dtype: int64